{:paths ["src"]
 :deps {aero/aero                                   {:mvn/version "1.1.6"}
        babashka/fs                                 {:mvn/version "0.5.21"}
        buddy/buddy-auth                            {:mvn/version "3.0.1"}
        camel-snake-kebab/camel-snake-kebab         {:mvn/version "0.4.3"}
        clojure.java-time/clojure.java-time         {:mvn/version "1.4.2"}
        com.brunobonacci/mulog                      {:mvn/version "0.9.0"}
        com.brunobonacci/mulog-zipkin               {:mvn/version "0.9.0"}
        com.brunobonacci/where                      {:mvn/version "0.5.6"}
        com.cemerick/url                            {:mvn/version "0.1.1"}
        com.datomic/peer                            {:mvn/version "1.0.7075"}
        com.fbeyer/reitit-ring-defaults             {:mvn/version "0.1.0"}
        com.github.seancorfield/expectations        {:mvn/version "2.0.165"}
        com.github.seancorfield/honeysql            {:mvn/version "2.4.1045"}
        com.github.seancorfield/next.jdbc           {:mvn/version "1.3.874"}
        com.taoensso/nippy                          {:mvn/version "3.4.2"}
        djblue/portal                               {:mvn/version "0.57.3"}
        hashp/hashp                                 {:mvn/version "0.2.2"}
        hikari-cp/hikari-cp                         {:mvn/version "3.0.1"}
        http-kit/http-kit                           {:mvn/version "2.8.0"}
        integrant/integrant                         {:mvn/version "0.10.0"}
        integrant/repl                              {:mvn/version "0.3.3"}
        io.github.escherize/huff                    {:mvn/version "0.2.12"}
        io.github.matthewdowney/rich-comment-tests  {:mvn/version "v1.0.3"}
        io.github.nextjournal/clerk                 {:mvn/version "0.17.1102"}
        io.github.tonsky/clj-reload                 {:mvn/version "0.7.0"}
        jansi-clj/jansi-clj                         {:mvn/version "1.0.3"}
        jdbc-ring-session/jdbc-ring-session         {:mvn/version "1.5.2"}
        medley/medley                               {:mvn/version "1.4.0"}
        metosin/jsonista                            {:mvn/version "0.3.10"}
        metosin/reitit                              {:mvn/version "0.7.0"}
        metosin/reitit-interceptors                 {:mvn/version "0.7.2"}
        metosin/reitit-sieppari                     {:mvn/version "0.7.2"}
        migratus/migratus                           {:mvn/version "1.5.1"}
        mvxcvi/puget                                {:mvn/version "1.3.4"}
        org.clojars.abhinav/snitch                  {:mvn/version "0.1.15"}
        org.clojure/clojure                         {:mvn/version "1.12.0"}
        org.clojure/core.cache                      {:mvn/version "1.1.234"}
        org.clojure/spec.alpha                      {:mvn/version "0.5.238"}
        org.clojure/test.check                      {:mvn/version "1.1.1"}
        org.postgresql/postgresql                   {:mvn/version "42.6.0"}
        ring/ring-core                              {:mvn/version "1.12.2"}
        ring/ring-defaults                          {:mvn/version "0.5.0"}
        selmer/selmer                               {:mvn/version "1.12.61"}
        telegrambot-lib/telegrambot-lib             {:mvn/version "2.6.0"}}}
